{{> header_blog}}

<body>
    {{> navbar_blog}}
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8">
                <h1>Blogs</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8" id="ctnResultadosBlog">
                {{#each blogs}}
                    <div class="post-preview">
                        <a href="{{this.id}}" class="linkBlog">
                            <h2 class="post-title">{{this.titulo}}</h2>
                            {{splitContent this.contenido}}
                        </a>
                        <p class="post-meta">Publicado por&nbsp;{{this.autor}} el {{this.fecha_publicacion}}</p>
                    </div>
                    <hr>
                {{/each}}
            </div>
            <div class="col-md-3 col-lg-4" id="ctnCategorias">
                <h1 style="font-size: 20px;">Categorias</h1>
                <hr style="margin: 5px 0px;">
            </div>
             <div class="col-md-10 col-lg-8">
                 <div class="clearfix"><button class="btn btn-primary float-end" type="button">Older Posts&nbsp;⇒</button></div>
            </div>
        </div>
    </div>
    {{> footer_blog}}
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script type="module" src="/assets/js/fetch_script.js"></script>
    <script type="module" src="/assets/js/blogs_script.js"></script>
</body>

</html>